* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  overflow: hidden;
}

#holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.floating-box {
  position: absolute; /* 设置绝对定位 */
  flex: 1;
    width: 20%; /* 容器宽度 */
    height: 100px; /* 容器高度 */
  top: 25rem; /* 距离顶部10像素 */
  left: 60rem; /* 距离左侧10像素 */
  background-color: rgba(255, 255, 255, 0); /* 完全透明 */
  padding: 10px; /* 内边距 */
  z-index: 10; /* z-index确保盒子在其他元素之上 */
    border: 0px solid #fff; /* 边框仅为了可视化DIV位置 */
  }
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px; /* 设置你想要的高度 */
}
 
.image-container img {
  max-width: 100%; /* 确保图片不会超过容器宽度 */
  height: auto; /* 保持图片比例 */
}